langchain
python-dotenv
langchain_community
langchain_openai
langchain_core
streamlit
langchain-groq
langsmith
langchain_chroma
langchain-classic
pypdf
sentence-transformers
pdfplumber
pdf2image
requests
sympy
pytesseract
pillow
huggingface_hub
langchain_huggingface
